
<!DOCTYPE html>
<html>
<head>
	<title>计划表</title>
	<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
	<div class="page-top"><h2>计划列表</h2></div>
	<div class="main">
		<h3 class="big-title">添加任务：</h3>
		<input type="text" class="task-input"v-model="inputValue"@keyup.enter="addTodo"> 	
		<ul class="task-count">
			<li class="firstli">{{ filterList}}个未完成任务</li>
			<li class="action">
				<a href="#">全部任务</a>
				<a href="#">未完成任务</a>
				<a href="#">已完成任务</a>
			</li>
		</ul>
		<h3 class="big-title">任务列表</h3>
		<div class="tasks">
			<span class="no-task-tip" v-show="!list.length">未添加任何</span>
			<ul class="todo-list" >
				<li class="list" v-for="item in list"
					:class="{completed:item.checked,editing:editingTodo===item}">
					{{ editingTodo.title }}
					<div class="view">
						<input type="checkbox" v-model="item.checked">
						<label @dblclick="editTodo(item)">{{item.title}}</label>
						<button class="destory" @click="destory(item)">X</button>
					</div> 
					<input type="text" class="edit"v-model="item.title"v-focus="editingTodo===item" @blur="editedTodo"@keyup.enter="editedTodo">
				</li>
			</ul>
		</div>
	</div>
	<script src="G:\FrontEndStudy-master\VUE\Vue.js"></script>
	<script type="text/javascript" src="index.js"></script>
</body>
</html>




<!--这里用到了一些其他技术 
<!DOCTYPE html>
<html>
<head>
	<title>计划表</title>
	<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
	<div class="page-top"><h2>计划列表</h2></div>
	<div class="main">
		<h3 class="big-title">添加任务：</h3>
		<input type="text" 
				class="task-input" 
			    v-model="inputValue" 
			    @keyup.enter="addTodo">
		<ul class="task-count">
			<li class="firstli">{{filterList}}个未完成任务</li>
			<li class="action">
				<a href="all">全部任务</a>
				<a href="unfinish">未完成任务</a>
				<a href="finish">已完成任务</a>
			</li>
		</ul>
		<h3 class="big-title">任务列表</h3>
		<div class="tasks">
			<span class="no-task-tip" v-show='!list.length'>未添加任何</span>
			<ul class="todo-list" >
				<li class="list"v-for="(item,index) in list"
					:class="{completed:item.checked,editing:editingTodo===item}">				
					<div class="view">
						<input type="checkbox" 
							   v-model="item.checked">
						<label @dblclick="editTodo(item)">{{ item.title }}</label>
						<button class="destory" 
							@click="deleteTodo(index)">X</button>
					</div> 
					<input type="text" class="edit"
					 	   v-focus="editingTodo===item"
						   v-model="item.title"
						   @keyup.enter="editedTodo"
						   @blur="editTodo"
						   @keyup.esc="cancelTodo(item)">
				</li>
			</ul>
		</div>
	</div>
	<script src="G:\FrontEndStudy-master\VUE\Vue.js"></script>
	<script type="text/javascript" src="index.js"></script>
</body>
</html> -->